Repository bubafistah/blockchain: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, pages

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy

build:
  stage: build
  image: docker
  variables:
    DOCKER_HOST: tcp://docker:2375
  services:
    - name: docker:dind
      command: [ "--experimental" ]
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --squash --cache-from $CI_REGISTRY_IMAGE:next -t $CI_REGISTRY_IMAGE:next .
    - docker push $CI_REGISTRY_IMAGE:next
  rules:
    - changes:
        - "Dockerfile"
        - "chain/**/*"


test:
  image: python:3.8-buster
  before_script:
    - pip install -r requirements.txt
  stage: test
  script:
  - mkdocs build --strict --verbose --site-dir test
  artifacts:
    paths:
    - test

pages:
  image: python:3.8-buster
  variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  cache:
    paths:
      - ".cache/pip"
      - "venv/"
  before_script:
    - python -V               # Print out python version for debugging
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - pip install git+https://$protected_material_token@github.com/squidfunk/mkdocs-material-insiders.git
  stage: deploy
  script:
    - mkdocs build --strict --verbose
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == 'next'
      changes:
        - "docs/**/*"
        - "requirements.txt"
        - "mkdocs.yml"

adds gitlab-ci file to change detection
  .gitlab-ci.yml
Due: none

removes shallow submodule cloning
  Dockerfile
Due: build

putting shallow submodule cloning back
  Dockerfile
Due: build

adding the bits to extract the compiled code to pipeline assets.
  .gitlab-ci.yml
  Dockerfile
Due: build

adding the bits to extract the compiled code to pipeline assets.
  .gitlab-ci.yml
Due: none

adding the bits to extract the compiled code to pipeline assets.
  Dockerfile
Due: build

adding registry login
  .gitlab-ci.yml
  Dockerfile
Due: build

removing cache on docker build
  .gitlab-ci.yml
Due: none

adds a linux amd64 stage + clion build config
  .build/ide/clion/lthn_chain_linux64.run.xml
  .build/image/linux.Dockerfile
  .gitlab-ci.yml
Due: none

change to artifacts so it gives the archive file and the separate binaries in gitlab
  .build/ide/clion/lthn_chain_linux64.run.xml
  .build/image/linux.Dockerfile
  .dockerignore
  .gitlab-ci.yml
Due: none

changing to alpine so i can run the image
  .build/image/linux.Dockerfile
  .gitlab-ci.yml
Due: none

Windows 64 Build
  .build/ide/clion/lthn_chain_win64.run.xml
  .build/image/win64.Dockerfile
  .build/image/windows.Dockerfile
  .dockerignore
  .gitlab-ci.yml
  .idea/vcs.xml
  chain/CMakeLists.txt
  chain/Makefile
Due: build

Windows 64 Build
  .idea/vcs.xml
Due: none

changes linux build docker container name
  .gitlab-ci.yml
Due: none

win64 build fix, removed the submodule update
  .build/image/win64.Dockerfile
Due: none

updates the asset location, it's failing after build.
  .build/image/win64.Dockerfile
Due: none

Adding freebsd
  .build/ide/clion/lthn_chain_freebsd64.run.xml
  .build/ide/clion/release-static-freebsd-x86_64.run.xml
  .build/image/freebsd64.Dockerfile
  .build/image/win64.Dockerfile
  .gitlab-ci.yml
  Dockerfile
  chain/Makefile
Due: build

build updates
  .build/image/freebsd64.Dockerfile
  .build/image/linux.Dockerfile
  .build/image/win64.Dockerfile
  .gitlab-ci.yml
Due: none

adding macos intel build
  .build/image/macos-intel.Dockerfile
  .gitlab-ci.yml
Due: none

fixing build trigger for macos-intel.Dockerfile
  .build/image/macos-intel.Dockerfile
  .gitlab-ci.yml
Due: none

adding armv7, armv8, riscv builds.
  .build/ide/clion/lthn_chain_armv7.run.xml
  .build/ide/clion/lthn_chain_armv8.run.xml
  .build/ide/clion/lthn_chain_riscv64.run.xml
  .build/ide/clion/release-static-freebsd-x86_64.run.xml
  .build/image/armv7.Dockerfile
  .build/image/armv8.Dockerfile
  .build/image/riscv64.Dockerfile
  .gitlab-ci.yml
Due: none

documentation update, removes the content wrapping, preserving the mkdocs-material functionality as it wont directly have its own website.
  .idea/lethean.iml
  docs/de/building/dependencies.md
  docs/de/building/freebsd.md
  docs/de/building/index.md
  docs/de/building/linux.md
  docs/de/building/macos.md
  docs/de/building/netbsd.md
  docs/de/building/openbsd.md
  docs/de/building/raspberry-pi.md
  docs/de/building/solaris.md
  docs/de/building/windows.md
  docs/de/index.md
  docs/de/reference/protocal/levin.md
  docs/de/reference/protocal/tor-i2p.md
  docs/de/reference/protocal/zmq.md
  docs/en/building/dependencies.md
  docs/en/building/freebsd.md
  docs/en/building/index.md
  docs/en/building/linux.md
  docs/en/building/macos.md
  docs/en/building/netbsd.md
  docs/en/building/openbsd.md
  docs/en/building/raspberry-pi.md
  docs/en/building/solaris.md
  docs/en/building/windows.md
  docs/en/index.md
  docs/en/reference/protocal/levin.md
  docs/en/reference/protocal/tor-i2p.md
  docs/en/reference/protocal/zmq.md
  docs/overrides/main.html
  docs/overrides/partials/nav.html
  mkdocs.yml
Due: pages

removes mkdocs test, it has no hope of ever passing now :3
  .gitlab-ci.yml
Due: none

doc configuration update
  docs/overrides/main.html
  mkdocs.yml
Due: pages

doc build fix
  docs/overrides/main.html
Due: pages

removes mkdoc builder files to clean up the raw source files, it's moving to a combined builder
  .gitlab-ci.yml
  Makefile
  docs/images/favicon.ico
  docs/images/lethean-logo.png
  docs/overrides/main.html
  docs/overrides/partials/nav.html
  docs/stylesheets/extra.css
  mkdocs.yml
  requirements.txt
Due: pages

readme change
  README.md
Due: none

removes .idea folder, putting ide settings in .build/ide/NAME
  .gitignore
  .idea/.gitignore
  .idea/codestream.xml
  .idea/externalDependencies.xml
  .idea/lethean.iml
  .idea/misc.xml
  .idea/vcs.xml
Due: none

adding download links for the latest artifacts from next branch
  README.md
Due: none

updates landing readme as its about to be rendered on the website
  docs/de/index.md
  docs/en/index.md
Due: pages

git ignore
  .gitignore
Due: none

updates dns checkpoints
  Makefile
  chain/src/common/dns_utils.cpp
  chain/src/debug_utilities/dns_checks.cpp
  chain/src/p2p/net_node.inl
Due: build

Support linux-aarch64
  build.bash
Due: none

Support linux-aarch64
  .build/environment/linux/cpu-aarch64-arch-aarch64.bash
Due: none

Support linux-aarch64
  .build/lib/openssl/compile.bash
Due: none
